requests==2.22.0
tqdm==4.34.0
seqeval==0.0.12
boto3==1.9.213
google-api-python-client==1.7.11
git+https://github.com/hiroshi-matsuda-rit/spaCy.git@feature/simple_sudachipy_integration
https://github.com/megagonlabs/ginza/releases/download/latest/ginza-latest.tar.gz
